In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import tensorflow as tf
import keras
import seaborn as sns

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Machine Learning A-Z/covid_19_data.csv')

In [ ]:
dataset

           SNo ObservationDate         Country  ... Confirmed  Deaths  Recovered
0            1        1/4/1900  Mainland China  ...         1       0          0
1            2       1/22/2020  Mainland China  ...        14       0          0
2            3       1/22/2020  Mainland China  ...         6       0          0
3            4       1/22/2020  Mainland China  ...         1       0          0
4            5       1/22/2020  Mainland China  ...         0       0          0
...        ...             ...             ...  ...       ...     ...        ...
227602  306425       5/29/2021         Ukraine  ...    102641    2335      95289
227603  306426       5/29/2021     Netherlands  ...     29147     245          0
227604  306427       5/29/2021  Mainland China  ...      1364       1       1324
227605  306428       5/29/2021         Ukraine  ...     87550    1738      83790
227606  306429       5/29/2021     Netherlands  ...    391559    4252          0

[227607 rows x 7 columns]

In [ ]:
dataset.columns
dataset.shape

(227607, 7)

In [ ]:
dataset.columns

Index(['SNo', 'ObservationDate', 'Country', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered'],
      dtype='object')

In [ ]:
dataset.isna().sum()

SNo                0
ObservationDate    0
Country            0
Last Update        0
Confirmed          0
Deaths             0
Recovered          0
dtype: int64

In [ ]:
dataset["ObservationDate"] = pd.to_datetime(dataset["ObservationDate"])

In [ ]:
dataset["ObservationDate"]

0        1900-01-04
1        2020-01-22
2        2020-01-22
3        2020-01-22
4        2020-01-22
            ...
227602   2021-05-29
227603   2021-05-29
227604   2021-05-29
227605   2021-05-29
227606   2021-05-29
Name: ObservationDate, Length: 227607, dtype: datetime64[ns]

In [ ]:
dataset["Last Update"] = pd.to_datetime(dataset["Last Update"])

In [ ]:
dataset["Last Update"]

0        2020-01-22
1        2020-01-22
2        2020-01-22
3        2020-01-22
4        2020-01-22
            ...
227602   2021-05-30
227603   2021-05-30
227604   2021-05-30
227605   2021-05-30
227606   2021-05-30
Name: Last Update, Length: 227607, dtype: datetime64[ns]

In [ ]:
dataset["ObservationDate_day"] = dataset["ObservationDate"].dt.day
dataset["ObservationDate_month"] = dataset["ObservationDate"].dt.month
dataset["ObservationDate_year"] = dataset["ObservationDate"].dt.year

In [ ]:
dataset.head()

   SNo ObservationDate  ... ObservationDate_month ObservationDate_year
0    1      1900-01-04  ...                     1                 1900
1    2      2020-01-22  ...                     1                 2020
2    3      2020-01-22  ...                     1                 2020
3    4      2020-01-22  ...                     1                 2020
4    5      2020-01-22  ...                     1                 2020

[5 rows x 10 columns]

In [ ]:
dataset['Last Update_day'] = dataset['Last Update'].dt.day
dataset['Last Update_month'] = dataset['Last Update'].dt.month
dataset['Last Update_year'] = dataset['Last Update'].dt.year

In [ ]:
dataset.head()

   SNo ObservationDate  ... Last Update_month Last Update_year
0    1      1900-01-04  ...                 1             2020
1    2      2020-01-22  ...                 1             2020
2    3      2020-01-22  ...                 1             2020
3    4      2020-01-22  ...                 1             2020
4    5      2020-01-22  ...                 1             2020

[5 rows x 13 columns]

In [ ]:
dataset.shape

(227607, 13)

In [ ]:
dataset['ObservationDate'] = dataset['ObservationDate'].astype(np.int64)
dataset['Last Update'] = dataset['Last Update'].astype(np.int64)

In [ ]:
dataset.dtypes

SNo                       int64
ObservationDate           int64
Country                  object
Last Update               int64
Confirmed                 int64
Deaths                    int64
Recovered                 int64
ObservationDate_day       int64
ObservationDate_month     int64
ObservationDate_year      int64
Last Update_day           int64
Last Update_month         int64
Last Update_year          int64
dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

In [ ]:
labelencoder = LabelEncoder()
dataset['Country'] = labelencoder.fit_transform(dataset['Country'])

In [ ]:
from sklearn.preprocessing import OneHotEncoder
dataset['Country'] = preprocessing.OneHotEncoder().fit_transform(dataset.Country.values.reshape(-1,1)).toarray()

In [ ]:
dataset['Country']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
227602    0.0
227603    0.0
227604    0.0
227605    0.0
227606    0.0
Name: Country, Length: 227607, dtype: float64

In [ ]:
dataset.columns

Index(['SNo', 'ObservationDate', 'Country', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered', 'ObservationDate_day', 'ObservationDate_month',
       'ObservationDate_year', 'Last Update_day', 'Last Update_month',
       'Last Update_year'],
      dtype='object')

In [ ]:
from sklearn.model_selection import train_test_split
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,12].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

**LinearRegression**

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
accuracy = lr.score(X_test,y_test)

In [ ]:
accuracy

0.9878121811728204

**SVM algorithm**

In [ ]:
from sklearn.svm import SVC
model = SVC()

In [ ]:
model.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
accuracy = model.score(X_test,y_test)

In [ ]:
accuracy

1.0

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
predictions = model.predict(X_test)

In [ ]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

        2020       1.00      1.00      1.00      2145
        2021       1.00      1.00      1.00     43377

    accuracy                           1.00     45522
   macro avg       1.00      1.00      1.00     45522
weighted avg       1.00      1.00      1.00     45522

**Random Forest**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
clf = RandomForestClassifier(n_estimators=20, random_state=0)

In [ ]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
predictions = clf.predict(X_test)

In [ ]:
print(accuracy_score(y_test,predictions))
print(classification_report(y_test,predictions))

1.0
              precision    recall  f1-score   support

        2020       1.00      1.00      1.00      2145
        2021       1.00      1.00      1.00     43377

    accuracy                           1.00     45522
   macro avg       1.00      1.00      1.00     45522
weighted avg       1.00      1.00      1.00     45522

**Logistic Regression**

In [ ]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression

In [ ]:
logreg = LogisticRegression()

In [ ]:
logreg.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predictions = logreg.predict(X_test)
print(accuracy_score(y_test,predictions))
print(classification_report(y_test, predictions))

0.04712007381046527
              precision    recall  f1-score   support

        2020       0.05      1.00      0.09      2145
        2021       0.00      0.00      0.00     43377

    accuracy                           0.05     45522
   macro avg       0.02      0.50      0.04     45522
weighted avg       0.00      0.05      0.00     45522

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

**Naibe Bayes**

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()

In [ ]:
nb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
predictions = nb.predict(X_test)
print(accuracy_score(y_test,predictions))
print(classification_report(y_test,predictions))

1.0
              precision    recall  f1-score   support

        2020       1.00      1.00      1.00      2145
        2021       1.00      1.00      1.00     43377

    accuracy                           1.00     45522
   macro avg       1.00      1.00      1.00     45522
weighted avg       1.00      1.00      1.00     45522

**KNN algorithm**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

In [ ]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
predictions = knn.predict(X_test)
print(accuracy_score(y_test,predictions))
print(classification_report(y_test,predictions))

1.0
              precision    recall  f1-score   support

        2020       1.00      1.00      1.00      2145
        2021       1.00      1.00      1.00     43377

    accuracy                           1.00     45522
   macro avg       1.00      1.00      1.00     45522
weighted avg       1.00      1.00      1.00     45522

**XGBoost**

In [ ]:
from xgboost import XGBClassifier

In [ ]:
model = XGBClassifier()

In [ ]:
model.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
predictions = model.predict(X_test)
print(accuracy_score(y_test,predictions))
print(classification_report(y_test,predictions))

1.0
              precision    recall  f1-score   support

        2020       1.00      1.00      1.00      2145
        2021       1.00      1.00      1.00     43377

    accuracy                           1.00     45522
   macro avg       1.00      1.00      1.00     45522
weighted avg       1.00      1.00      1.00     45522